[submodule "src/libs/syntax-highlighting"]
	path = libs/syntax-highlighting
	url = https://github.com/vnotex/syntax-highlighting.git
[submodule "src/libs/hunspell"]
	path = libs/hunspell
	url = https://github.com/vnotex/hunspell.git
[submodule "src/libs/sonnet"]
	path = libs/sonnet
	url = https://github.com/vnotex/sonnet.git
